@model DodatneUslugeVM
    <tr id="@Model.DodatneUslugeForSave.DodatneUslugeID">
        <td width="30%" style="text-align:center;">@Model.DodatneUslugeForSave.Naziv</td>
        <td width="30%" style="text-align:center;">@Model.DodatneUslugeForSave.Cijena</td>
        <td width="30%" style="text-align:center;">@Model.DodatneUslugeForSave.Opis</td>

        <td width="5%">
            <button onclick="obrisi(@Model.DodatneUslugeForSave.DodatneUslugeID)" class="btn btn-outline-danger align-middle w-100 " style="color:white;margin-top:5px"> <i class="fas fa-trash fa-sm text-black-50"></i></button>
        </td>
    </tr>