@model NastavaDetaljiVM
@{
    ViewData["Title"] = "Detalji";
}

<h2>Detalji maturskog ispita</h2>
<hr />
<h4>Prikaz maturskih ispita koje je evidentirao nastavnik @Model.Nastavnik</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Skola</th>
            <th>Predmet</th>
            <th>Nisu pristupili ucenici</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.maturskiIspiti)
        {
        <tr>
            <td>@item.Datum</td>
            <td>@item.Skola</td>
            <td>@item.Predmet</td>
            <td>
                @{ 
                    foreach(var ucenici in item.NisuPristupiliUcenici)
                    {
                        <span>@ucenici</span>
                    }
                }
            </td>
            <td>
                <a class="btn btn-info" asp-action="Uredi" asp-route-id="@item.MaturskiIspitID">Uredi</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="Dodaj" asp-route-id="@Model.PredajePredmetID">Dodaj</a>
 